.form-container {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: relative;
  overflow: auto; /* Added */
}

.full-width {
  width: calc(100% - 32px);
}

.custom-font {
  font-family: 'Roboto', sans-serif;
}

.help-icon {
  background-color: #ccc;
  color: white;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  margin-right: 8px;
}

.header-step {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.actions-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.action-button {
  margin-left: 10px;
  box-shadow: none; 
}

.next-button {
  background-color: green;
  color: white;
  margin-left: 8px;
}

.form-count {
  font-size: 0.8rem;
  color: green;
}

.form-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.form-field-row {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 16px;
}

.form-field {
  flex: 1;
  min-width: 290px;
}

.custom-select .mat-select-panel {
  max-width: 100% !important;
}

.example-form-field {
  margin-right: 20px;
}

.form-container .custom-font {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.form-container .selected-item {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 8px;
}

.form-container .icon {
  margin-left: 8px; /* Adjusted to create space between text and icon */
}


.form-container .help-icon {
  margin-right: 8px;
}



